@import "tailwindcss";
@import "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";
@import "tailwindcss";
@import "flowbite/src/themes/default";

@plugin "flowbite/plugin";
@source "../node_modules/flowbite";


@font-face {
    font-family: shabnam;
    src: url("/fonts/shabnam/Shabnam-Medium.woff");
  }
  
  @font-face {
    font-family: shabnam-Bold;
    src: url("/fonts/shabnam/Shabnam-Bold.woff");
  }
  
  * {
    box-sizing: border-box;
    
    margin: 0 ;
    border:0;
    font-family: shabnam;
  }


  body, html{
    direction: rtl;

  }


  .mycontainer{
      width:80%;
      margin: 0 auto;
  }

.heroSlider{

    position:relative;

    border-radius:55px;

    overflow:visible;
}

.heroSlider .swiper{

    overflow:hidden;

    border-radius:55px;
}

/* فرورفتگی پایین */

.heroSlider::after{

    content:"";

    position:absolute;

    width:170px;

    height:90px;

    background:white;

    left:50%;

    transform:translateX(-50%);

    bottom:-1px;

    border-radius:90px 90px 0 0;

    z-index:5;
}

/* دو دایره سفید برای ساخت انحنای کناره ها */

.heroSlider::before{

    content:"";

    position:absolute;

    width:70px;

    height:70px;

    background:transparent;

    bottom:0;

    left:calc(50% - 120px);

    border-bottom-right-radius:70px;

    box-shadow:30px 30px white;

    z-index:6;
}

.heroSlider .swiper::after{

    content:"";

    position:absolute;

    width:70px;

    height:70px;

    background:transparent;

    bottom:0;

    right:calc(50% - 120px);

    border-bottom-left-radius:70px;

    box-shadow:-30px 30px white;

    z-index:6;
}

/* Pagination */

.swiper-pagination{

    bottom:18px !important;

    z-index:20;
}

.swiper-pagination-bullet{

    width:11px;

    height:11px;

    background:#D1D5DB;

    opacity:1;
}

.swiper-pagination-bullet-active{

    width:28px;

    border-radius:50px;

    background:#2F63F5;
}

/* فلش ها */

.swiper-button-next,
.swiper-button-prev{

    width:56px;

    height:56px;

    border-radius:50%;

    background:white;

    box-shadow:0 10px 25px rgba(0,0,0,.15);

    color:#333;
}

.swiper-button-next::after,
.swiper-button-prev::after{

    font-size:18px;

    font-weight:bold;
}